<p id="notice"><%= notice %></p>

<p>
  <strong>Job offer:</strong>
  <%= @bid.job_offer_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @bid.customer_id %>
</p>

<p>
  <strong>Dealer:</strong>
  <%= @bid.dealer_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bid.price %>
</p>

<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
