<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
      
        <h2>Welcome to Service Bid</h2>
        <%= image_tag("service.jpg", :alt => "rss feed",:width=>1200, :height=>250)%>
        
        <p> Click the button below to find out more information about Service Bid. 
        </p>
        <p><%= button_to "Learn More >>", about_path, :id => "open-contacts-dialog-btn",
      :class => "btn btn-lg btn-success", :method => :get %></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
      
        <div class="col-md-6">
          <h2>Customers</h2>
          <p> Welcome Customers of the World. You are offering work to be carried out on your vehicle which is posted online by yourself to the Dealers, where the Dealers bid for your work to be carried out. </p>
            <div style="float:left; margin: 5px; color: red;">
                <%= button_to "New Customer", new_customer_registration_path, :id => "open-contacts-dialog-btn",
                :class => "btn btn-default btn-lg", :method => :get %>
            </div>
            
            <div style="float:left; margin: 5px; color: red;">
                <%= button_to "Existing Customer", new_customer_session_path, :id => "open-contacts-dialog-btn",
                :class => "btn btn-default btn-lg", :method => :get %>
            </div>
     
       </div>
        <div class="col-md-6">
          <h2>Dealers</h2>
          <p>Welcome Dealers of the World.You are signing up to the world's car service bidding application, that the customers post work online and where you bid against our dealers from the customers work.</p>
          <div style="float:left; margin: 5px;">
                <%= button_to "New Dealer", new_dealer_registration_path, :id => "open-contacts-dialog-btn",
                :class => "btn btn-default btn-lg", :method => :get %>
          </div>
            
          <div style="float:left; margin: 5px;">
                <%= button_to "Existing Dealer", new_dealer_session_path, :id => "open-contacts-dialog-btn",
                :class => "btn btn-default btn-lg", :method => :get %>
          </div>
      </div>
      
      <hr>

      <footer>
        <p>&copy; 2016 Service Bid, Inc.</p>
      </footer>
    </div> <!-- /container -->