<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Payment Form</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/stylesheet/payments.css" rel="stylesheet">
  </head>
<body>
  <div id="centre">
<p id="notice"><%= notice %></p>

<p>
  <strong>Mastercard:</strong>
  <%= @payment.mastercard %>
</p>

<p>
  <strong>Visa:</strong>
  <%= @payment.visa %>
</p>

<p>
  <strong>Visa debit:</strong>
  <%= @payment.visa_debit %>
</p>

<p>
  <strong>Job offer:</strong>
  <%= @payment.job_offer_id %>
</p>

<p>
  <strong>Customer name:</strong>
  <%= @payment.customer_name %>
</p>

<p>
  <strong>Card number:</strong>
  <%= @payment.card_number %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @payment.expiry_date %>
</p>

<p>
  <strong>Three digit pin number:</strong>
  <%= @payment.three_digit_pin_number %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
</div>
</body>
</html>