<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Listing Job Offers</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/stylesheet/payments.css" rel="stylesheet">
  </head>
<body>
  <div id="fix">

<p id="notice"><%= notice %></p>

<h1>Listing Job Offers</h1>

<table>
  <thead>
    <tr>
      <th>Customer ID</th>
      <th>name</th>
      <th>address</th>
      <th>Contact no:</th>
      <th>Date</th>
      <th>Car make</th>
      <th>Car model</th>
      <th>Year</th>
      <th>Issue</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_offers.each do |job_offer| %>
      <tr>
        <td><%= job_offer.customer_id %></td>
        <td><%= job_offer.customer_name %></td>
        <td><%= job_offer.customer_address %></td>
        <td><%= job_offer.customer_phone_number %></td>
        <td><%= job_offer.date %></td>
        <td><%= job_offer.car_make %></td>
        <td><%= job_offer.car_model %></td>
        <td><%= job_offer.year %></td>
        <td><%= job_offer.issue %></td>
        <td><%= link_to 'Show', job_offer %></td>
        <td><%= link_to 'Edit', edit_job_offer_path(job_offer) %></td>
        <td><%= link_to 'Destroy', job_offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', dealers_path %>
</div>
</body>
</html>