<!DOCTYPE html>
<html>
<head>
  <title>ServiceBid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
<%= render 'shared/navbar' %>
=======

>>>>>>> 13c2bde9590d3a8fa5d6b9348c5b07abc4c8943b
<%= yield %>

</body>
</html>
