<!DOCTYPE html>
<html>
<head>
  <title>ServiceBid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <% if customer_signed_in? %>
      <p>Hello, <%= current_customer.name %> - <%= link_to "Sign_out", destroy_customer_session_path, :method => 'delete'%></p>
  
      <br>
  
      <% end %>

  
  
<%= render 'shared/navbar' %>
<%= yield %>

</body>
</html>
